################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
S-101FC/version 1.4.0/Electronic Navigational Chart_1.4.0.xml
